<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711962890055-16ntqm1im7b26tmds2rnffjn4l68qb87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711962890055-16ntqm1im7b26tmds2rnffjn4l68qb87</string>
	<key>API_KEY</key>
	<string>AIzaSyD-5vTkuiOb3JHxoiKw1U08hX000jUihqI</string>
	<key>GCM_SENDER_ID</key>
	<string>711962890055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shermanshi.FuelBarTestApp</string>
	<key>PROJECT_ID</key>
	<string>fuelbartestapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelbartestapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711962890055:ios:45139d9e17a523fe</string>
	<key>DATABASE_URL</key>
	<string>https://fuelbartestapp.firebaseio.com</string>
</dict>
</plist>